<html>
    <head>
        <title></title>
    </head>
    <body>
        
        <h3>New message</h3>
        <form action="/new-message" method="POST">

            <label for="message">Message</label>
            <input name="message" id="message" type="text">

            <button type="submit">Submit</button>
        </form>

        <a href="/">Back</a>

    </body>
</html>